PORT=5001

JWT_SECRET=your_super_secret_key_change_this
Local MongoDB
MONGO_URL=mongodb://localhost:27017/appointments
USE_DOCUMENTDB=false
AWS DocumentDB
MONGO_URL=mongodb://adminuser:Vaibhav1512@docdb-2026-06-12-09-49-37.cluster-c1w0q68qepiw.ap-south-1.docdb.amazonaws.com:27017/?tls=true&tlsCAFile=global-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false

USE_DOCUMENTDB=true

DOCDB_CERT_PATH=/home/ubuntu/app/certs/global-bundle.pem
